<div id="landingContainer" style="display: none;">
    <div class="header">
        <div class="playContainer">
            <button id="launch_button" class="playButton">
                <div class="loginButtonContent">
                    JOGAR
                </div>
            </button>
            <div id="launchDetailsContainer" class="launchDetailsContainer">
                <progress max="100" value="50" id="launchProgressBar"></progress>
                <label id="launchProgressBarLabel">0%</label>
                <label id="launchProgressBarDetails">Aguarde...</label>
            </div>
        </div>
        <div class="mediaContainer">
            <a href="https://www.pixelmonblast.com.br" class="mediaIcon">
                <img src="./assets/images/home.png" width="22px">
            </a>
            <div id="settingsButton" class="mediaIcon">
                <img src="./assets/images/settings.png"  width="22px">
            </div>
            <a href="https://discord.gg/pxbr" class="mediaIcon">
                <img src="./assets/images/discord.png" width="22px">
            </a>
            <a href="https://www.instagram.com/pixelmonblast/" class="mediaIcon">
                <img src="./assets/images/instagram.png" width="22px">
            </a>
        </div>
        <div id="userInfoContainer" class="userInfoContainer">
            <div class="userInfoTextContainer">
                <span id="usernameText">Khiel</span>
                <div class="onlineContainer">
                    <div class="onlineCircle"></div>
                    <span>Online</span>
                </div>
            </div>
            <div class="headContainer">
                <img id="userMcHead" src="https://mc-heads.net/head/khiel">
            </div>
        </div>
    </div>
    <div id="newsContentContainer">
        <div class="sliderContainer">    
            <div id="news_slider">
            </div>

            <div id="navDots">
            </div>
        </div>
    </div>
    <div class="footer">
        COPYRIGHT © 2022 PIXELMON BLAST. TODOS OS DIREITOS RESERVADOS
    </div>
    <script src="./assets/js/scripts/landing.js"></script>
</div>