<div
 id="landingContainer"
 style="display: none">
 <div class="header">
  <div class="mediaContainer">
   <a
    href="https://www.pixelmonblast.com.br"
    class="mediaIcon">
    <img
     src="./assets/images/home.png"
     width="32px" />
   </a>
   <div
    id="settingsButton"
    class="mediaIcon">
    <img
     src="./assets/images/settings.png"
     width="32px" />
   </div>
   <a
    href="https://discord.gg/pxbr"
    class="mediaIcon">
    <img
     src="./assets/images/discord.png"
     width="32px" />
   </a>
   <a
    href="https://www.instagram.com/pixelmonblast/"
    class="mediaIcon">
    <img
     src="./assets/images/instagram.png"
     width="32px" />
   </a>
  </div>
  <div
   id="userInfoContainer"
   class="userInfoContainer">
   <div class="userInfoTextContainer">
    <span id="usernameText">Khiel</span>
    <div class="onlineContainer">
     <div class="onlineCircle"></div>
     <span>Online</span>
    </div>
   </div>
   <div class="headContainer">
    <img
     id="userMcHead"
     src="https://mc-heads.net/head/khiel" />
   </div>
  </div>
 </div>

 <div id="newsContentContainer">
  <div class="description">
   <strong>Bem-Vindo(a)</strong>
   <p>
    Nós somos o maior e melhor servidor de Pixelmon Brasileiro.<br />
    Venha conhecer a nossa comunidade e divirta-se!
   </p>
  </div>
  <div class="playContainer">
   <button
    id="launch_button"
    class="playButton">
    <div class="loginButtonContent2">JOGAR</div>
   </button>
   <div
    id="launchDetailsContainer"
    class="launchDetailsContainer">
    <progress
     max="100"
     value="50"
     id="launchProgressBar"></progress>
    <label id="launchProgressBarLabel">0%</label>
    <label id="launchProgressBarDetails">Aguarde...</label>
   </div>
  </div>
 </div>
 <script src="./assets/js/scripts/landing.js"></script>
</div>

