<div id="loginOptionsContainer" style="display: none;">
    <div id="loginOptionsContent">
        <div class="logo">
            <img src="https://cdn.discordapp.com/attachments/1019403241064235162/1066690407888588880/logo.png?width=1025&amp;height=484" style="width: 300px;">

        </div>
        <div class="loginOptionsMainContent">
            <div class="loginOptionsText">OPÇÕES DE LOGIN</div>
            <div class="loginOptionActions">
                <div class="loginOptionButtonContainer">
                    <button id="loginOptionMicrosoft" class="loginOptionButton">
                        <i class="cib-microsoft buttonSideIcon"></i>
                        <span>LOGAR COM MICROSOFT</span>
                    </button>
                </div>
                <div class="loginOptionButtonContainer">
                    <button id="loginOptionMojang" class="loginOptionButton">
                        <i class="cib-mojang buttonSideIcon"></i>
                        <span>LOGAR COM MOJANG</span>
                    </button>
                </div>
                <div class="loginOptionButtonContainer">
                    <button id="loginOptionOffline" class="loginOptionButton">
                        <img src="./assets/images/skull.png" class="buttonSideIcon" style="left: 12px" width="38px">
                        <span>PROSSEGUIR SEM LOGAR</span>
                    </button>
                </div>
            </div>
            <div id="loginOptionCancelContainer" style="display: none;">
                <button id="loginOptionCancelButton">Cancelar</button>
            </div>
            <a href="https://discord.gg/7vaZ9AcbZq" class="loginProblems">Estou com problemas para conectar</a>
        </div>
    </div>
    <div class="mascote2Container">
        <div class="hawk2">
          <img src="https://cdn.discordapp.com/attachments/441261501257351189/1067163999331962930/44_Sem_Titulo_20221220215159.png?width=1025&amp;height=484" style="width: 150px;">
      </div>
      </div>
<!-- <div class="fundo">
    <img class="newsImage" src="https://media.discordapp.net/attachments/441261501257351189/1067550373784604742/fundo2.png">
</div> -->
    <script src="./assets/js/scripts/loginOptions.js"></script>
</div>