<div id="loginOptionsContainer" style="display: none;">
    <div id="loginOptionsContent">
        <div class="loginOptionsMainContent">
            <div class="loginOptionsText">OPÇÕES DE LOGIN</div>
            <div class="loginOptionActions">
                <div class="loginOptionButtonContainer">
                    <button id="loginOptionMicrosoft" class="loginOptionButton">
                        <i class="cib-microsoft buttonSideIcon"></i>
                        <span>LOGAR COM MICROSOFT</span>
                    </button>
                </div>
                <div class="loginOptionButtonContainer">
                    <button id="loginOptionMojang" class="loginOptionButton">
                        <i class="cib-mojang buttonSideIcon"></i>
                        <span>LOGAR COM MOJANG</span>
                    </button>
                </div>
                <div class="loginOptionButtonContainer">
                    <button id="loginOptionOffline" class="loginOptionButton">
                        <img src="./assets/images/skull.png" class="buttonSideIcon" style="left: 12px" width="38px">
                        <span>PROSSEGUIR SEM LOGAR</span>
                    </button>
                </div>
            </div>
            <div id="loginOptionCancelContainer" style="display: none;">
                <button id="loginOptionCancelButton">Cancelar</button>
            </div>
            <a href="https://discord.gg/7vaZ9AcbZq" class="loginProblems">Estou com problemas para conectar</a>
        </div>
    </div>
    <script src="./assets/js/scripts/loginOptions.js"></script>
</div>