<div id="welcomeContainer" style="display: none;">
    <!--<div class="cloudDiv">
        <div class="cloudTop"></div>
        <div class="cloudBottom"></div>
    </div>-->
    <div id="welcomeContent">
        <img id="welcomeImageSeal" src="assets/images/Gatos.png"/>
        <span id="welcomeHeader">BEM VINDO AO DISTRITO PIXELMON</span>
        <span id="welcomeDescription">O lugar onde você pode encontrar com seus amigos e conhecer novas pessoas, participar de eventos, capturar lendários, montar seu time e ir batalhar em torneios para se tornar o melhor treinador pokémon!</span>
        <button id="welcomeButton">
            <div id="welcomeButtonContent">
                Junte-se a nós
            </div>
        </button>
    </div>
    <script src="./assets/js/scripts/welcome.js"></script>
</div>